<div class="container">
  <div class="">
    <mat-list>
      <h3 mat-subheader>Images</h3>
      <mat-list-item *ngFor="let file of imageArr">
        <mat-icon mat-list-icon>perm_media</mat-icon>
        <p mat-line>
          url : https://www.googleapis.com/drive/v2/files/{{ file.id }}
        </p>
        <mat-icon *ngIf="file.status == 'done'" class="text-success"
          >check_circle</mat-icon
        >
        <mat-icon *ngIf="file.status == 'failed'" class="text-danger"
          >info</mat-icon
        >

        <p mat-line>
          <mat-progress-bar
            *ngIf="file.status == 'processing'"
            color="primary"
            mode="indeterminate"
          ></mat-progress-bar>
          Original Size: {{ file.size / 1024 }} KB
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <br>
  <mat-card *ngIf="!isDownloaded">
    <div class="row">
      <div class="col-md-10">
        downloading
        <mat-progress-bar
          mode="determinate"
          color="primary"
          [value]="value"
          class="mt-3"
        ></mat-progress-bar>
      </div>
      <div class="col-md-2 text-success">
        {{value}}% completed
      </div>
    </div>
  </mat-card>
</div>
