<div class="container">
  <mat-card class="text-center add-files" style="background-color: rgba(255, 255, 255, 0.664);">
    <div class="text-center ">
      <mat-card-title><strong>Pick your images</strong></mat-card-title>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <mat-card class="button-card" style="background-color: rgba(255, 255, 255, 0.904);">
          <mat-card-title >Local computer</mat-card-title>
          <button mat-fab aria-label="Upload files from local computer">
            <mat-icon>computer</mat-icon>
          </button>
        </mat-card>
      </div>
      <div class="col-md-4">
        <app-google-picker
          (selectedFiles)="onFileSelect($event)"
        ></app-google-picker>
      </div>

      <div class="col-md-4">
        <mat-card class="button-card" style="background-color: rgba(255, 255, 255, 0.904);">
          <mat-card-title >Drop Box</mat-card-title>
          <button mat-fab aria-label="Not completed">
            <mat-icon>block</mat-icon>
          </button>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>
